ci:
  autofix_prs: false
  autoupdate_branch: develop
  autoupdate_schedule: monthly
  skip: [ty]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-docstring-first
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files
        exclude: "assets/logo.*"
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.0
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        additional_dependencies:
          - fastapi
          - jinja2
          - pytest
          - rich
          - types-click
          - types-Pygments
          - types-PyYAML
          - typer-slim
          - typing-extensions
          - uvicorn
  - repo: local
    hooks:
      - id: ty
        name: ty check
        entry: uvx ty check
        language: python
        pass_filenames: false
        additional_dependencies:
          - fastapi
          - pytest
          - rich
          - ty
          - types-click
          - types-Pygments
          - types-PyYAML
          - typer-slim
          - typing-extensions
          - uvicorn
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
  - repo: https://github.com/Riverside-Healthcare/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-jinja
      - id: djlint-reformat-jinja
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.8
    hooks:
      - id: actionlint
