[tool.poetry]
name = "rhoknp"
version = "1.4.1"
description = "Yet another Python binding for Juman++/KNP/KWJA"
license = "MIT"
authors = [
    "Hirokazu Kiyomaru <h.kiyomaru@gmail.com>",
    "Nobuhiro Ueda <ueda@nlp.ist.i.kyoto-u.ac.jp>",
]
readme = "README.md"
repository = "https://github.com/ku-nlp/rhoknp"
documentation = "https://rhoknp.readthedocs.io/en/latest"
keywords = ["NLP"]

[tool.poetry.dependencies]
python = "^3.7"
cached-property = { version = "^1.5", python = "<3.8" }
importlib-metadata = { version = ">=5.2,<6.8", python = "<3.8" }
typer = [
    { version = ">=0.7,<0.9", python = "<3.8", optional = true },
    { version = ">=0.7", python = ">=3.8", optional = true },
]
PyYAML = { version = "^6.0", optional = true }
rich = { version = ">=12.6", optional = true }
uvicorn = [
    { version = ">=0.21.0,<0.23.0", python = "<3.8", optional = true },
    { version = ">=0.21.0", python = ">=3.8", optional = true },
]
fastapi = { version = ">=0.92.0,<1", optional = true }
jinja2 = { version = "^3.1", optional = true }

[tool.poetry.group.dev.dependencies]
python = "^3.8"
ipython = [
    { version = "~8.12.1", python = "3.8" },
    { version = "^8.13", python = ">=3.9" },
]
ipdb = "^0.13.13"

[tool.poetry.group.test.dependencies]
pytest = "^7.2"
pytest-cov = "^4.0"
httpx = "^0.24.0"

[tool.poetry.group.docs.dependencies]
Sphinx = [
    { version = "^5.3", python = "<3.8" },
    { version = "^7.0", python = ">=3.8" },
]
# sphinx-prompt 1.7.0 requires python < 3.11, which will be fixed in the next version
sphinx-prompt = [
    { version = "~1.5.0", python = "<3.8" },
    { version = "^1.6", python = ">=3.8,<3.11" },
]
sphinx-copybutton = "^0.5.0"
myst-parser = [
    { version = "^1.0", python = "<3.8" },
    { version = "^2.0", python = ">=3.8" },
]
markdown-it-py = [
    { version = "^2.2", python = "<3.8" },
    { version = "^3.0", python = ">=3.8" },
]
furo = "^2023.3"

[tool.poetry.extras]
cli = ["typer", "PyYAML", "rich", "uvicorn", "fastapi", "jinja2"]

[tool.poetry.scripts]
rhoknp = "rhoknp.cli.cli:app"

[tool.black]
line-length = 120
target-version = ["py37", "py38", "py39", "py310", "py311"]

[tool.isort]
line_length = 120
py_version = 39
profile = "black"

[tool.flake8]
# E203 is not PEP8 compliant and black insert space around slice (https://black.readthedocs.io/en/stable/faq.html#why-are-flake8-s-e203-and-w503-violated)
# E501: Line too long. Disable it to allow long lines of comments and print lines which black allows.
# W503: line break before binary operator (https://www.flake8rules.com/rules/W503.html)
ignore = ["E203", "E501", "W503"]
max-line-length = 120

[tool.mypy]
python_version = 3.7

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
