[tool.poetry]
name = "rhoknp"
version = "0.2.0"
description = "Yet another Python binding for Juman++/KNP"
authors = ["Hirokazu Kiyomaru <h.kiyomaru@gmail.com>", "Nobuhiro Ueda <ueda@nlp.ist.i.kyoto-u.ac.jp>"]
repository = "https://github.com/ku-nlp/rhoknp"
license = "MIT"

[tool.poetry.dependencies]
python = ">=3.9,<3.11"

[tool.poetry.dev-dependencies]
pytest = "^7.1.2"
pytest-cov = "^3.0.0"
flake8 = "^4.0.1"
pytest-mypy = "^0.9.1"
Sphinx = "^4.2.0"
furo = "^2022.4.7"
sphinx-prompt = "^1.5.0"
sphinx-copybutton = "^0.5.0"
ipdb = "^0.13.9"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 120
target-version = ["py39", "py310"]

[tool.isort]
line_length = 120

[tool.mypy]
python_version = 3.9
