[tool.poetry]
name = "rhoknp"
version = "0.1.1"
description = "Yet another Python binding for Juman++/KNP"
authors = ["Hirokazu Kiyomaru <h.kiyomaru@gmail.com>", "Nobuhiro Ueda <ueda@nlp.ist.i.kyoto-u.ac.jp>"]
repository = "https://github.com/ku-nlp/rhoknp"
license = "MIT"

[tool.poetry.dependencies]
python = ">=3.9,<3.11"

[tool.poetry.dev-dependencies]
pytest = "^6.2"
pytest-cov = "^2.12"
flake8 = "^3.9"
pytest-mypy = "^0.8.1"
Sphinx = "^4.2.0"
furo = "^2021.10.9"
sphinx-prompt = "^1.5.0"
sphinx-copybutton = "^0.4.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 88
target-version = ["py39", "py310"]

[tool.isort]
line_length = 88

[tool.mypy]
python_version = 3.9
