[tool.poetry]
name = "rhoknp"
version = "0.4.8"
description = "Yet another Python binding for Juman++/KNP/KWJA"
license = "MIT"
authors = [
    "Hirokazu Kiyomaru <h.kiyomaru@gmail.com>",
    "Nobuhiro Ueda <ueda@nlp.ist.i.kyoto-u.ac.jp>",
]
readme = "README.md"
repository = "https://github.com/ku-nlp/rhoknp"
documentation = "https://rhoknp.readthedocs.io/en/latest"
keywords = ["NLP"]

[tool.poetry.dependencies]
python = ">=3.8,<3.12"
typer = "^0.6.1"
PyYAML = "^6.0"

[tool.poetry.group.dev]

[tool.poetry.group.dev.dependencies]
ipdb = "^0.13.9"

[tool.poetry.group.test]

[tool.poetry.group.test.dependencies]
pytest = "^7.1.2"
pytest-cov = "^3.0.0"

[tool.poetry.group.docs]

[tool.poetry.group.docs.dependencies]
Sphinx = "^4.2.0"
sphinx-prompt = "^1.5.0"
sphinx-copybutton = "^0.5.0"
myst-parser = "^0.18.1"
furo = "^2022.4.7"

[tool.poetry.scripts]
rhoknp = "rhoknp.cli:app"

[tool.black]
line-length = 120
target-version = ["py38", "py39", "py310"]  # py311 is not supported yet

[tool.isort]
line_length = 120

[tool.mypy]
python_version = 3.8

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
