<div class="accordion-item" id="namedEntityRecognition">
    <h6 class="accordion-header" id="headingNamedEntityRecognition">
        <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#bodyNamedEntityRecognition"
            aria-expanded="true"
            aria-controls="bodyNamedEntityRecognition"
        >
            固有表現認識
        </button>
    </h6>
    <div id="bodyNamedEntityRecognition" class="accordion-collapse collapse" aria-labelledby="headingNamedEntityRecognition">
        <div class="accordion-body">
            {% if analyzed_document.named_entities %}
            <ul>
                {% for named_entity in analyzed_document.named_entities %}
                <li>{{ named_entity.text }}: {{ named_entity.category.value }}</li>
                {% endfor %}
            </ul>
            {% else %}
            <p>固有表現は見つかりませんでした。</p>
            {% endif %}
        </div>
    </div>
</div>
