<div class="accordion-item" id="rawOutput">
    <h6 class="accordion-header" id="headingRawOutput">
        <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#bodyRawOutput"
            aria-expanded="true"
            aria-controls="bodyRawOutput"
        >
            生の解析結果
        </button>
    </h6>
    <div id="bodyRawOutput" class="accordion-collapse collapse" aria-labelledby="headingRawOutput">
        <div class="accordion-body">{{ raw_output }}</div>
    </div>
</div>
