<div class="accordion-item" id="typoCorrection">
    <h6 class="accordion-header" id="headingTypoCorrection">
        <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#bodyTypoCorrection"
            aria-expanded="true"
            aria-controls="TypoCorrection"
        >
            タイポ修正
        </button>
    </h6>
    <div id="bodyTypoCorrection" class="accordion-collapse collapse" aria-labelledby="headingTypoCorrection">
        <div class="accordion-body">
            {% for diff in get_string_diff(text, analyzed_document.text) %}
                {% if diff.label == '+' %}
                    <span class="bg-success bg-opacity-25">{{ diff.text }}</span>
                {% elif diff.label == '-' %}
                    <span class="bg-danger bg-opacity-25">{{ diff.text }}</span>
                {% else %}
                    {{ diff.text }}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
