{% extends "base.jinja2" %}
{% block result %}
<div class="container mt-3">
    <hr>
    <h6>テキスト</h6>
    <div class="resultArea">{{ text }}</div>
    <h6>解析結果</h6>
    <div class="resultArea">{{ analyzed_document.to_jumanpp() }}</div>
</div>
{% endblock %}
