{% extends "base.jinja2" %}
{% block result %}
<div class="container mt-3">
    <hr>
    <h6>テキスト</h6>
    <pre>{{ text }}</pre>
    <h6>解析結果</h6>
    <pre>{{ analyzed_document.to_jumanpp() }}</pre>
</div>
{% endblock %}
