name: Publish

on:
  push:
    tags:
      - "v*.*.*"
  workflow_dispatch:

jobs:
  build-publish:
    runs-on: ubuntu-latest
    # https://github.com/pypa/gh-action-pypi-publish?tab=readme-ov-file#trusted-publishing
    environment:
      name: pypi
      url: https://pypi.org/p/rhoknp
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Build package
        run: uv build -o dist
      - name: Publish package
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          verbose: true
